<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>帖子详情</title>

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/page_basic.css">

    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="../js/getQueryVariable.js"></script>

    <style>
    .main_page{
        width: 100%;
        min-height: 170px;
        max-height: 500px;
        margin-bottom: 20px;
        background-color: white;
    }
    .main_page_up{
        width: 100%;
        min-height: 110px;
        max-height: 180px;
        border-bottom: 1px solid rgb(226, 226, 226);
    }
    .forum_name{
        display: block;
        text-align: left;
        padding: 10px 0 0 30px;
        color: rgb(143, 150, 155);
    }
    .thread_name{
        text-align: left;
        padding: 10px 0 0 10px;
        text-indent: 48px;
        max-height: 48px;
        overflow: auto;
        font-size: 24px;
    }
    .main_page_down{
        width: 100%;
        min-height: 60px;
    }
    .user_name{
        color: #4d5256;
        text-align: right;
        padding: 5px 50px 0 0;
    }
    .thread_content{
        padding: 10px;
        font-size: 14px;
        text-align: left;
        text-indent: 28px;
        overflow: auto;
    }
    </style>
</head>

<body>
    <div class="wrapper" id="thread-content">
        <div id="nav" class="nav">
            <ul>
                <li><a href="learn.gojohnny.top">项目首页</a></li>
                <li><a href="../index.html">BBS首页</a></li>
                <li style="float: right;" v-if="users.msg == 'false'"><a href="../login">登录</a>/<a href="../reg/">注册</a>
                </li>
                <li style="float: right;" v-else><a href="./php/un_login.php">退出登录</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="main">
                <div class="sep"></div>
                <div class="main_page">
                    <div class="main_page_up">
                        <a class="forum_name">forum_name</a>
                        <p class="thread_name">这里是主题的名字这里是主题的名字这里是主题的名字这里是主题的名字这里是主题的名字这里题的名字这里是主题的名字这里是主题的名字这里题的名字这里是主题的名字这里是主题的名字这里</p>
                        <p class="user_name">·用户名·2021-11-30 03:00:22</p>
                    </div>
                    <div class="main_page_down">
                        <p class="thread_content">这里是帖子的内容这里是帖子的内容这里是帖子的内容这里是帖子的内容这里是帖子的内容这里是帖子的内容这里是帖子的内容这里是帖子的内容这里是帖子的内容这里是帖子的内容这里是帖子的内容</p>
                    </div>
                </div>
                <div v-if="posts.length >= 1">
                    <!--判断是否有回复-->
                    <tiopic-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post"></tiopic-post>
                </div>
                <div v-else>
                    <p id="empty_repo">帖子为空或获取失败！</p>
                </div>
                <div class="skip">
                        <button v-on:click="uppage">上一页</button>
                    <span>{{'第'+page+'页/共'+total_page+'页'}}</span>
                        <button v-on:click="downpage">下一页</button>
                </div>
            </div>
            <div class="rightbar">
                <div id="sep2" class="sep"></div>
                <div class="logininfo">
                    <div class="decon">
                        <div class="login_up" v-if="users.msg == 'false'">
                            <h3>这里是咸鱼小镇</h3>
                            <p>一个技术摸鱼BBS</p>
                        </div>
                        <div class="login_up" v-else>
                            <h3>欢迎！</h3>
                            <p>{{users.level >= 2 ? '管理员':'普通用户'}}</p>
                        </div>
                        <div class="login_down" v-if="users.msg == 'false'">
                            <a href="./reg" class="normalbtn" target="_blank">现在注册</a>
                            <p>已经注册了吗？请<a href="./login/">登录</a></p>
                        </div>
                        <div class="login_down" v-else>
                            <a href="./user" class="username" target="_blank">{{users.username}}</a>
                            <p>{{users.title?user.title:'暂无头衔'}}</p>
                        </div>
                    </div>
                </div>
                <div class="newforum" v-if="users.msg == 'true'">
                    <a href="./php/add_forum.php">添加新板块</a>
                </div>
                <div class="test"></div>
            </div>
        </div>
    </div>

    <script>
        Vue.component("thead-post", {
            props: ['post'],
            template: `<div class="pages">
                        <div class="pages_title">
                            <a :href="'thread?F='+post.id" target="_blank">{{post.title}}</a>
                        </div>
                        <div class="pages_down">
                            <b>{{'·'+post.author+'·'}}</b><span>{{post.last_post_time}}</span>
                        </div>
                </div>`
        });
        var content = new Vue({
            el: "#thread-content",
            data: {
                posts: [],
                users: [],
                total_page: 1,
                page: 1,
                F: 1,
            },
            created: function () {
                let vm = this;
                if (getQueryVariable("page")) {
                    vm.page = getQueryVariable("page");
                } else {
                    vm.page = 1;
                }
                if (getQueryVariable("F")) {
                    vm.F = getQueryVariable("F");
                } else {
                    vm.F = 1;
                }
                console.log("page=" + vm.page)
                console.log("F=" + vm.F)

                axios.post("../php/forum.php?F=" + vm.F + "&page=" + vm.page)
                    .then(function (response) {
                        vm.posts = response.data;
                        console.log(vm.posts);
                    })
                    .catch(function (error) {
                        console.error();
                    });
                axios.post("../php/checklogin.php")
                    .then(function (response) {
                        vm.users = response.data;
                        console.log(vm.users);
                    })
                    .catch(function (error) {
                        console.error();
                    })
                axios.post("../php/page_count.php?F=" + vm.F + "&page=" + vm.page)
                    .then(function (response) {
                        vm.total_page = response.data;
                        console.log(vm.total_page);
                    })
                    .catch(function (error) {
                        console.error();
                    })
            },
            methods: {
                uppage: function (event) {
                    var newpage = Number(this.page) - 1;
                    if (newpage >= 1) {
                        location.href = "./index.html?page=" + newpage;
                    } else {
                        alert("已经是第一页！");
                    }

                },
                downpage: function (event) {
                    var newpage = Number(this.page) + 1;
                    console.log("newpage=" + newpage)
                    if (newpage <= this.total_page) {
                        location.href = "./index.html?page=" + newpage;
                    } else {
                        alert("已经是最后一页！")
                    }
                }
            }

        });
    </script>
</body>

</html>l