<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBS</title>
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/main_index.css">

    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="./js/fixscroll.js"></script>

</head>

<body>
    <div class="wrapper" id="post-content">
        <div class="title">
            <h2>BBS——由VUE与PHP构建</h2>
            <p>by:aiAdzari</p>
        </div>
        <div id="nav" class="nav">
            <ul>
                <li><a href="learn.gojohnny.top">项目首页</a></li>
                <li><a href="./index.html">BBS首页</a></li>
                <li style="float: right;" v-if="users.msg == 'false'"><a href="./login">登录</a>/<a href="./reg/">注册</a>
                </li>
                <li style="float: right;" v-else><a href="./php/un_login.php">退出登录</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="main">
                <div id="sep1" class="sep"></div>
                <div class="indro">
                    <p>板块：</p>
                </div>
                <div>
                    <div v-if="posts.length != 0">
                        <!--判断是否有板块-->
                        <forum-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post"></forum-post>
                    </div>
                    <div v-else>
                        <p id="empty_repo">板块为空或获取失败！</p>
                    </div>
                </div>

                <div class="test"></div>

            </div>
            <div class="rightbar">
                <div id="sep2" class="sep"></div>
                <div class="indro">
                    <p>消息：</p>
                </div>
                <div class="logininfo">
                    <div class="decon">
                        <div class="login_up" v-if="users.msg == 'false'">
                            <h3>这里是咸鱼小镇</h3>
                            <p>一个技术摸鱼BBS</p>
                        </div>
                        <div class="login_up" v-else>
                            <h3>欢迎！</h3>
                            <p>{{users.level >= 2 ? '管理员':'普通用户'}}</p>
                        </div>
                        <div class="login_down" v-if="users.msg == 'false'">
                            <a href="./reg" class="normalbtn" target="_blank">现在注册</a>
                            <p>已经注册了吗？请<a href="./login/">登录</a></p>
                        </div>
                        <div class="login_down" v-else>
                            <a href="./user" class="username" target="_blank">{{users.username}}</a>
                            <p>{{users.title?user.title:'暂无头衔'}}</p>
                        </div>
                    </div>
                </div>
                <div class="newforum" v-if="users.msg == 'true'">
                    <a href="../php/add_forum.php">板块管理</a>
                    <!-- <form action="./php/newforum.php" method="post">
                        <table cellspacing="0" cellpadding="8">
                            <tr>
                                <tr><strong>板块名称</strong></tr>
                                <td><input name="forum_name" type="text" placeholder="板块名称"></td>
                            </tr>
                            <tr>
                                <tr><strong>板块主题</strong></tr>
                                <td><input name="Subject" type="text" placeholder="板块类目"></td>
                            </tr>
                            
                            <tr>
                                <tr><strong>板块简介</strong></tr>
                                <td><textarea name="forum_description" cols="30" rows="5"></textarea></td>
                            </tr>

                            <tr>
                                <td>
                                    <input type="submit" name="submit" class="btn" value="添加">
                                    <input type="reset" name="submit2" class="btn" value="清空输入">
                                </td>
                            </tr>
                        </table>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        Vue.component("forum-post", {
            props: ['post'],
            template: `<div class="forum">
                        <div class="forum_subject">
                            <p>{{post.subject}}</p>
                        </div>
                        <div class="forum_name">
                            <a :href="'forums?F='+post.id">{{post.forum_name}}</a>
                        </div>
                        <div class="forum_des">
                            <p>{{post.forum_description}}</p>
                        </div>
                    </div>`

        });
        var content = new Vue({
            el: "#post-content",
            data: {
                posts: [],
                users: []
            },
            created: function () {
                let vm = this;

                axios.post("./php/index.php")
                    .then(function (response) {
                        vm.posts = response.data;
                        console.log(vm.posts);
                    })
                    .catch(function (error) {
                        console.error();
                    });
                axios.post("./php/checklogin.php")
                    .then(function (response) {
                        vm.users = response.data;
                        console.log(vm.users);
                    })
                    .catch(function (error) {
                        console.error();
                    })
            }
        });
    </script>
</body>

</html>